html, body {
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: radial-gradient(circle at center, #fafafa 50%, #C0C0C0 90%);
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainLogo {
  margin-top: 5vh;
  border-radius: 50%;
  height: 40vh;
}
h2 {
  text-align: center;
  font-family: 'Calligraffitti', cursive;
  font-size: 3rem;
  background-image: linear-gradient(to right,#02b399, #00473d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-animation: moveFromBottom 1.5s 1s;
          animation: moveFromBottom 1.5s 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
h2 .quotes {
  font-size: 2rem;
}
hr {
  margin-bottom: 30px;
  width: 40%;
  border: 0.3px solid #C0C0C0;
  box-shadow: 4rem 4rem 2rem rgba(0, 0, 0, 0.2);
}
a {
  margin-top: 2rem;
  font-family: 'Bree Serif', serif;
  font-weight: 700;
  font-size: 2rem;
  background-image: linear-gradient(to bottom,#dc8f3f, #7823bc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding-top: 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: .4s all;
}
a:hover {
  -webkit-animation: shake .8s;
          animation: shake .8s;
}
#instaLogo {
  height: 3rem;
  padding-left: 8px;
}
p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 50%;
  font-size: 1.3rem;
  color: #2F4F4F;
}
#whySukha_btn {
  margin-top: 20px;
  margin-bottom: 60px;
  font-family: "Ramabhadra", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 12px 26px;
  color:#7923bb;
  background-color: #fff;
  border: 2px solid #942d88;
  transition: all .5s ease-in;
}
#whySukha_btn:hover {
  color: #fff;
  background-color: #942d88;
  font-weight: 700;
  cursor: pointer;
}

/*whySukha*/
.whySukha {
  margin: 0;
  padding: 0;
  visibility: collapse;
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear,left top, right bottom,from(#dc8f3f), to(#7823bc));
  box-shadow: 0 0 8px #2F4F4F;
}
#whySukha_close {
  font-size: 1.4rem;
  padding-bottom: 3px;
  position: absolute;
  top: 16vh;
  right: 20vw;
  text-decoration: none;
  color: #2F4F4F;
  background-color: #fff;
  border: none;
  border-radius: 50%;
}
#whySukha_close:hover {
  cursor: pointer;
  box-shadow: 0 0 12px #2F4F4F;
}
#whySukha_card {
  /**/
}
#whySukha_para {
  position: absolute;
  top: 20vh;
  padding: 60px 40px;
  background-color: #F8F8F8;
  border-radius: 14px;
  text-align: left;
  line-height: 1.3;
}

/*animations*/
@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem); }
  80% {
    -webkit-transform: translateX(.5rem);
            transform: translateX(.5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
            transform: translateX(-5rem); }
  80% {
    -webkit-transform: translateX(.5rem);
            transform: translateX(.5rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  80% {
    -webkit-transform: translateY(-.5rem);
            transform: translateY(-.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  80% {
    -webkit-transform: translateY(-.5rem);
            transform: translateY(-.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

/*responsive*/
@media only screen and (max-width: 600px) {

  #mainLogo {
    height: 35vh;
  }
  h2 {
    font-size: 2.5rem;
    padding: 0 10%;
  }
  h2 .quotes {
    font-size: 1.5rem;
  }
  a {
    display: inline-block;
  }
  #instaLogo {
    vertical-align: middle;
  }
  p {
    font-size: 1rem;
    width: 90%;
  }
  #whySukha_para {
    font-size: 1rem;
    top: 10vh;
    border-radius: 6px;
    padding: 28px 14px;
  }
  #whySukha_close {
    font-size: 1rem;
    top: 7vh;
    right: 3vw;
  }
}

@media only screen and (max-width: 400px) {

  h2 {
    font-size: 2rem;
  }
}
